   <h2>A twitter page</h2>
    <div id="chat-box">
    </div>
    
    <form id="chat-form">
      <textarea placeholder="Your tweet" id="tweet-msg"></textarea>
      <button id="tweet-btn">tweet</button>

      <textarea placeholder="tweet id" id="tweet-id"></textarea>
      <button id="retweet-btn">retweet</button>
    </form>